{% extends 'base.html' %}
{% load systemtags %}
{% block container %}
{% load static %}
<div class="container-fluid">
    <div class="page-header">
		<div class="row">
            <div class="col-md-11">
				<h3><i class="fa fa-phone me-2"></i> Listado de usuarios de acceso telefónico</h3>
			</div>
			<div class="col-md-1">
				<span class="pull-right mt-1"><a data-mdb-toggle="modal" data-mdb-target="#addRadius" href="#" class="text-success"><i class="fa fa-user-plus fa-2x" aria-hidden="true"></i></a></span>
			</div>
        </div>
    </div>
    <div id="radiuslist"></div>

    <!-- Modal -->
<div class="modal fade" id="addRadius" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear Usuario</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
      <form id="addRadiusForm" action="{% url 'radius:insert_radius' %}" method="POST" role="form">{% csrf_token %}
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                              <label for="model">{{ userform.name.label }}</label>
                              {{ userform.name }}
                          </div>                      
                          <div class="form-group">
                              <label for="model">{{ userform.email.label }}</label>
                              {{ userform.email }}
                          </div>                      
                          <div class="form-group">
                              <label for="model">{{ userform.description.label }}</label>
                              {{ userform.description }}
                          </div>                      
                          <div class="form-group">
                              <label for="model">{{ userform.group.label }}</label>
                              {{ userform.group }}
                          </div>
                          <div class="form-group">								
                            <label for="model">Contraseña</label>
                            <span id="passstrength"></span>
                            <div class="input-group mb-3">
                              <input type="password" class="form-control" id="passwd" name="passwd"/>
                              <span id="passstrength"></span>
                              <span class="input-group-text">
                                <i class="fa fa-eye" id="togglePassword" 
                              style="cursor: pointer"></i>
                              </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="model">Repetir contraseña</label>
                            <div class="input-group mb-3">              
                              <input type="password" class="form-control" id="passwd1" name="passwd1"/>
                              <span class="input-group-text">
                                <i class="fa fa-eye" id="togglePassword1" 
                              style="cursor: pointer"></i>
                              </span>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-mdb-dismiss="modal"><i class="fa fa-reply"></i> Cancelar</button>
                <button id="btnFetchRadius" type="submit" class="btn btn-primary" disabled><i class="fa fa-check"></i> Guardar</button> 
              </div>
      </form>
              
        </div>
        
      </div>
    </div>
  </div>
  <!-- Modal -->

</div>
</div>
</main>
{% endblock %}
{% block extrajs %}
<script src="/static/js/custom.js"></script>
<script src="/static/react/babel.min.js"></script>
<script src="/static/react/react.development.js"></script>
<script src="/static/react/react-dom.development.js"></script>
<script type="text/babel">
    const Listusers = ({listusers = [], spinner, errormsg, count}) => {
        const renderUsers = (
            <>
                {
				<div className="table-responsive">
                    <table id="listuser" className="table table-sm table-hover table-striped display nowrap">
                        <caption>{count} Usuarios</caption>
                        <thead>
                          <tr>
                            <th scope="col">#</th>
							<th scope="col">Nombre y Apellidos</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Grupo</th>
                            <th scope="col">Fecha de creación</th>
                            <th scope="col">Última modificación</th>
                            <th scope="col">Descripción</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                            {listusers.map((item, index) => (
                                <tr key={index}>
									<td>{index + 1}</td>
                                    <td><a href={"/radius/edit/" + item.encodepk + "/"}>{item.name}</a></td>
                                    <td>{item.email}</td>
                                    <td>{item.group.group_name}</td>                                                                       
                                    <td>{item.create_date}</td>
                                    <td>{item.modify_date}</td>
                                    <td>{item.description}</td> 
                                    <td></td>                                    
                                </tr>
                            ))}
                        </tbody>
                    </table>  
				</div>                 
                }
            </>
        )
        return (
            <>
                {errormsg && <div className="alert alert-danger">{errormsg}</div>}
                {spinner ? <Spinner /> : renderUsers}
            </>
        )
    }
</script>
<script type="text/babel" src="/static/react/components/radiuslist.js"></script>
<script>
	$(document).ready(function () {        
		$('#addRadiusForm').bootstrapValidator({
			message: 'Este valor no es valido',
			feedbackIcons: {
				valid: 'fa fa-check',
				invalid: 'fa fa-times',
				validating: 'fas fa-spinner fa-pulse'
			},
			submitHandler: function (validator, form, submitButton) {
				document.querySelector('#btnFetchRadius').innerHTML = '<i class="fas fa-spinner fa-pulse" style="padding: 0; margin-right: 10px;"></i> Cargando...';
				$.post(form.attr('action'), form.serialize(), function (result) {
					if (result.status == false || result.status == 'false') {
						var Toast = Swal.mixin({
							toast: true,
							orientation: 'auto',
							showConfirmButton: false,
							timer: 4000
						});
						document.querySelector('#btnFetchRadius').innerHTML = '<i class="fa fa-check"></i> Guardar';
						Toast.fire({
							icon: 'error',
							title: result.msg
						});
					} else if (result.status == true || result.status == 'true') {
						$('#addRadius').modal('toggle');
						$("form input[type=password]").each(function() { this.value = '' });
						window.setTimeout(function() {
							window.location = '';
						}, 2);
						document.querySelector('#btnFetchRadius').innerHTML = '<i class="fa fa-check"></i> Guardar';						
  
					} else {
						$('#addRadiusForm').bootstrapValidator('disableSubmitButtons', false);
					}
				}, 'json')
				.done(function(msg){  })
				.fail(function(xhr, status, error) {
					document.querySelector('#btnFetchRadius').innerHTML = '<i class="fa fa-check"></i> Guardar';
					Swal.fire({
						icon: 'error',
						title: error,
						showConfirmButton: false,
						footer: '<a href="mailto:reportes@cristal.hlg.sld.cu?Subject='+ error +'">Envíanos un ticket y describe el problema</a>'
					})
				});
				
			},
			fields: {
				email: {
					validators: {
						notEmpty: {
							message: 'Este campo no puede estar vacio'
						},
						remote: {
							url: '/radius/radius_check_mail/',
							message: 'Este usuario ya existe en el sistema'
						},
						emailAddress: {
                            message: 'No es una direccion de correo valida'
                        }
					}
				},
				name: {
					validators: {
						notEmpty: {
							message: 'Este campo no puede estar vacio'
						}
					}
				},
				description: {
					validators: {
						notEmpty: {
							message: 'Este campo no puede estar vacio'
						}
					}
				},
				group: {
					validators: {
						notEmpty: {
							message: 'Este campo no puede estar vacio'
						}
					}
				},
				passwd: {
					validators: {
						notEmpty: {
							message: 'Este campo no puede estar vacio'
						},
						identical: {
							field: 'passwd1',
							message: 'Las contraseñas no coenciden'
						}
					}
				},
				passwd1: {
					validators: {
						notEmpty: {
							message: 'Este campo no puede estar vacio'
						},
						identical: {
							field: 'passwd',
							message: 'Las contraseñas no coenciden'
						}
					}
				}
			}
		})
			.on('success.field.fv', function (e, data) {
				if (data.fv.getInvalidFields().length > 0) {    // There is invalid field
					data.fv.disableSubmitButtons(true);
				}
			});
	});
  </script>
  <script>
	const togglePassword = document.querySelector("#togglePassword");
	const togglePassword1 = document.querySelector("#togglePassword1");
	const passwd = document.querySelector("#passwd");
	const passwd1 = document.querySelector("#passwd1");
	
	togglePassword.addEventListener("click", function () {
	   
	  // toggle the type attribute
	  const type = passwd.getAttribute("type") === "password" ? "text" : "password";
	  passwd.setAttribute("type", type);
	  // toggle the eye icon
	  this.classList.toggle('fa-eye');
	  this.classList.toggle('fa-eye-slash');
	}); 
	togglePassword1.addEventListener("click", function () {
	   
	  // toggle the type attribute
	  const type = passwd1.getAttribute("type") === "password" ? "text" : "password";
	  passwd1.setAttribute("type", type);
	  // toggle the eye icon
	  this.classList.toggle('fa-eye');
	  this.classList.toggle('fa-eye-slash');
	});
	</script>
{% endblock %}